.user-wrapper {
    width : 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;;

.user-thumbnail {
 position: relative;

img {
    width: 50px;
    height: 50px;
    padding: 5px;
}
    
small {
    color: grey;
    margin-left: 20px;

}
}

button {
    margin-top: 20px;
    font-size: 12px;
    color: black;
    background: none;
    font-weight: bold;
    border: 2px solid rgb(14, 14, 34);
    border-radius: none;
    width: 240px;
    box-shadow: 4px 0px 0 #000;

    &:hover {
        box-shadow: 4px 0px 0 #000;
        background: transparent;
        color: blue;
        letter-spacing: 1PX;
    }
}
 a {
     color: black;
     font-size: 12px;
     margin-top: 5px;
 }

}
